{%extends 'yolo/html/layout.html'%}
{%load static%}
{%block 'title'%}آدرس {%endblock%}
{%block 'mohtava'%}


    <!-- Main Start -->
    <main class="main">
      <!-- Breadcrumb Start -->
      <div class="breadcrumb-wrap">
        <div class="banner">
          <img class="bg-img bg-top" src="{%static '/yolo/'%}assets/images/inner-page/banner-p.jpg" alt="banner" />

          <div class="container-lg">
            <div class="breadcrumb-box">
              <div class="heading-box">
                <h1>پرداخت</h1>
              </div>
              <ol class="breadcrumb">
                <li><a href="/">صفحه اصلی</a></li>
                <li>
                  <a href="javascript:void(0)"><i data-feather="chevron-right"></i></a>
                </li>
                <li><a href="/shop">خرید</a></li>
                <li>
                  <a href="javascript:void(0)"><i data-feather="chevron-right"></i></a>
                </li>
                <li><a href="/cart">سبد خرید</a></li>
                <li>
                  <a href="javascript:void(0)"><i data-feather="chevron-right"></i></a>
                </li>
                <li class="current"><a href="/address">تسویه حساب</a></li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <!-- Breadcrumb End -->

      <!-- Checkout Section Start -->
      <section class="checkout">
        <div class="container-lg">
          <div class="row g-3 g-sm-4 cart">
            <div class="col-md-7 col-lg-8 col-xl-9">
              <div class="address-wrap">
                <div class="title-box2">
                  <h2 class="heading-2">لطفا آدرس تحویل را انتخاب کنید:</h2>
                </div>

                <div class="row g-3 g-md-4">
                  <div class="col-12 col-xl-6">
                    <div class="address-box add-new d-flex flex-column gap-2 align-items-center justify-content-center" data-bs-toggle="modal" data-bs-target="#addNewAddress" >
                      <span class="plus-icon"><i data-feather="plus"></i></span>
                      <h4 class="theme-color font-xl fw-500">افزودن آدرس جدید</h4>
                    </div>
                  </div>

                  <div class="col-12 col-xl-6">
                    <div class="address-box checked">
                      <div class="radio-box">
                        <div>
                          <input class="radio-input" type="radio" checked id="radio1" name="radio1" />
                          <label class="radio-label" for="radio1">فرزانه قندهاری</label>
                        </div>
                        <span class="badges badges-pill badges-theme">خونه</span>
                        <div class="option-wrap">
                          <span class="edit" data-bs-toggle="modal" data-bs-target="#edditAddress"><i data-feather="edit"></i></span>
                          <span class="delet ms-0" data-bs-toggle="modal" data-bs-target="#conformation"><i data-feather="trash"></i></span>
                        </div>
                      </div>
                      <div class="address-detail">
                        <p class="content-color font-default">اصفهان، بلوار انقلاب، کوی نرگس، پلاک13 </p>
                        <p class="content-color font-default">ایران، اصفهان</p>

                        <span class="content-color font-default mt-1">کدپستی: <span class="title-color font-default fw-500">1234567890</span></span>
                        <span class="content-color font-default">تلفن همراه: <span class="title-color font-default fw-500">0913-1234567</span></span>                       
                        <span class="content-color font-default mt-1">نوع پرداخت: <span class="title-color font-default fw-500">اینترنتی</span></span>
                      </div>
                    </div>
                  </div>

                
                  <div class="col-12 col-xl-6">
                    <div class="address-box">
                      <div class="radio-box">
                        <div>
                          <input class="radio-input" type="radio" id="radio2" name="radio1" />
                          <label class="radio-label" for="radio2">مهرانه داوری</label>
                        </div>
                        <span class="badges badges-pill badges-theme">مدرسه محل کار</span>
                        <div class="option-wrap">
                          <span class="edit" data-bs-toggle="modal" data-bs-target="#edditAddress"><i data-feather="edit"></i></span>
                          <span class="delet ms-0" data-bs-toggle="modal" data-bs-target="#conformation"><i data-feather="trash"></i></span>
                        </div>
                      </div>
                      <div class="address-detail">
                        <p class="content-color font-default">دولت آباد،خیابان بسیج، کوچه ترنم، مدرسه شهید فهمیده</p>
                        <p class="content-color font-default">ایران، اصفهان</p>

                        <span class="content-color font-default mt-1">کدپستی: <span class="title-color font-default fw-500">1234567890</span></span>
                        <span class="content-color font-default">تلفن همراه: <span class="title-color font-default fw-500"> 0913-1234567</span></span>                        
                        <span class="content-color font-default mt-1">نوع پرداخت: <span class="title-color font-default fw-500">اینترنتی</span></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-5 col-lg-4 col-xl-3">
              <div class="summery-wrap">
                <div class="coupon-box">
                  <h5 class="cart-title">کد تخفیف</h5>
                  <div class="text-wrap">
                    <input required type="email" class="form-control" placeholder="کد را وارد کنید" />
                    <a href="javascript:void(0)" class="btn btn-outline btn-sm">اعمال</a>
                  </div>

                  <p class="content-color font-md mb-0">در صورتی که در خریدهای پیشین کد تخفیف دریافت کرده اید، آن را در کادر بالا وارد کنید.</p>
                </div>
                <div class="cart-wrap grand-total-wrap">
                  <div>
                    <div class="order-summery-box">
                      <h5 class="cart-title">جزئیات قیمت (3 مورد)</h5>
                      <ul class="order-summery">
                        <li>
                          <span>مبلغ کل</span>
                          <span>220000 تومان</span>
                        </li>

                        <li>
                          <span>سود شما از این خرید</span>
                          <span class="theme-color">-20000 تومان</span>
                        </li>

                        <li>
                          <span>کد تخفیف</span>
                          <a href="javascript:void(0)" class="font-danger">اعمال نشده</a>
                        </li>

                        <li>
                          <span>هزینه ارسال</span>
                          <span>15000 تومان</span>
                        </li>

                        <li class="pb-0">
                          <span>قابل پرداخت</span>
                          <span>215000 تومان</span>
                        </li>
                      </ul>
                      <div class="row g-3 mt-2">
                        <div class="col-6 col-md-12">
                          <a href="#" class="btn-solid checkout-btn">اقدام به پرداخت <i class="arrow"></i></a>
                        </div>
                        <div class="col-6 col-md-12">
                          <a href="/cart" class="btn-outline w-100 justify-content-center checkout-btn"> بازگشت به سبد خرید </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Checkout Section End -->
    </main>
    <!-- Main End -->
{%endblock%}


{%block 'other'%}
  
    <!-- Add New Address Modal Start -->
    <div class="modal fade addnew-address" id="addNewAddress" tabindex="-1" aria-labelledby="addNewAddressLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addNewAddressLabel">افزودن آدرس جدید</h5>
            <span class="close-modal" data-bs-dismiss="modal"><i data-feather="x"></i></span>
          </div>

          <div class="modal-body full-grid-mobile">
            <form method="post" class="custom-form form-pill">
              {%csrf_token%}
              <div class="row g-3 g-md-4">
                <div class="col-12">
                  <div class="input-box">
                    <label for="name">نام و نام خانوادگی تحویل گیرنده:</label>
                    <input class="form-control" type="text" required name="name" id="name" />
                  </div>
                </div>

                <div class="col-6">
                  <div class="input-box">
                    <label for="email">ایمیل (اختیاری):</label>
                    <input class="form-control" type="email" required name="email" id="email" />
                  </div>
                </div>

                <div class="col-6">
                  <div class="input-box">
                    <label for="mobile">شماره تماس:</label>
                    <input class="form-control" maxlength="11" type="number" required name="mobile" id="mobile" />
                  </div>
                </div>

                <div class="col-12">
                  <div class="input-box">
                    <label for="address1">نشانی(شهر،خیابان،کوچه،پلاک،واحد):</label>
                    <input class="form-control" type="text" required name="address1" id="address1" />
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="input-box">
                    <label for="zip">کد پستی:</label>
                    <input class="form-control" maxlength="10" type="number" required name="zip" id="zip" />
                  </div>
                </div>

                <div class="col-6 col-sm-4">
                  <div class="input-box">
                    <label for="country">استان:</label>
                    <select class="form-select form-control" name="country"  id="country">
                      <option selected disabled value="">انتخاب کنید...</option>
                                            
                      <option>آذربایجان شرقی</option>
                      <option>آذربایجان غربی</option>
                      <option>اردبیل</option>
                      <option>اصفهان</option>
                      <option>البرز</option>
                      <option>ایلام</option>
                      <option>بوشهر</option>
                      <option>تهران</option>
                      <option>چهارمحال و بختیاری</option>
                      <option>خراسان جنوبی</option>
                      <option>خراسان رضوی</option>
                      <option>خراسان شمالی</option>
                      <option>خوزستان </option>
                      <option>زنجان </option>
                      <option>سمنان </option>
                      <option>سیستان و بلوچستان </option>
                      <option>فارس </option>
                      <option>قزوین </option>
                      <option>قم</option>
                      <option>کردستان</option>
                      <option>کرمان</option>
                      <option>کرمانشاه</option>
                      <option>کهگیلویه و بویراحمد</option>
                      <option>گلستان</option>
                      <option>گیلان</option>
                      <option>لرستان</option>
                      <option>مازندران</option>
                      <option>مرکزی</option>
                      <option>هرمزگان</option>
                      <option>همدان</option>
                      <option>یزد</option>
                      
                    </select>
                  </div>
                </div>              
                <div class="modal-footer">
                  <div class="btn-box">
                    <button type="button" class="btn btn-outline rounded-pill" data-bs-dismiss="modal" aria-label="Close">بستن</button>
                    <button type="submit" class="btn btn-solid line-none rounded-pill">ذخیره آدرس <i class="arrow"></i></button>
                  </div>
                </div>
              </div>
              
            </form>
          </div>          
        </div>
      </div>
    </div>
    <!-- Add New Address Modal End -->

    <!-- Edit Address Modal Start -->
    <div class="modal fade addnew-address" id="edditAddress" tabindex="-1" aria-labelledby="edditAddressLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="edditAddressLabel">ویرایش آدرس</h5>
            <span class="close-modal" data-bs-dismiss="modal"><i data-feather="x"></i></span>
          </div>

          <div class="modal-body full-grid-mobile">
            <form action="javascript:void(0)" class="custom-form form-pill">
              <div class="row g-3 g-md-4">
                <div class="col-12">
                  <div class="input-box">
                    <label for="name">نام و نام خانوادگی تحویل گیرنده:</label>
                    <input class="form-control" type="text" required name="name" id="name" />
                  </div>
                </div>

                <div class="col-6">
                  <div class="input-box">
                    <label for="email">ایمیل (اختیاری):</label>
                    <input class="form-control" type="email" required name="email" id="email" />
                  </div>
                </div>

                <div class="col-6">
                  <div class="input-box">
                    <label for="mobile">شماره تماس:</label>
                    <input class="form-control" maxlength="9" type="number" required name="mobile" maxlength="10" id="mobile" />
                  </div>
                </div>

                <div class="col-12">
                  <div class="input-box">
                    <label for="address1">نشانی(شهر،خیابان،کوچه،پلاک،واحد):</label>
                    <input class="form-control" type="text" required name="address1" id="address1" />
                  </div>
                </div>

                <div class="col-sm-4">
                  <div class="input-box">
                    <label for="zip">کد پستی:</label>
                    <input class="form-control" maxlength="5" type="number" required name="zip" id="zip" />
                  </div>
                </div>

                <div class="col-6 col-sm-4">
                  <div class="input-box">
                    <label for="country">استان:</label>
                    <select class="form-select form-control" id="country">
                      <option selected disabled value="">انتخاب کنید...</option>
                      <option>تهران</option>
                      <option>اصفهان</option>
                      <option>یزد</option>
                      <option>شیراز</option>
                      <option>خوزستان</option>
                      <option>خراسان رضوی</option>
                      <option>آذربایجان غربی</option>
                      <option>کردستان</option>
                      <option>قم</option>
                      <option>مازندران</option>
                    </select>
                  </div>
                </div>

                <div class="col-6 col-sm-4">
                  <div class="input-box">
                    <label for="city">نوع پرداخت:</label>
                    <select class="form-select form-control" id="city">
                      <option selected disabled value="">انتخاب کنید...</option>
                      <option>نقدی هنگام تحویل</option>
                      <option>اینترنتی</option>                      
                    </select>
                  </div>
                </div>

                
              </div>
            </form>
          </div>

          <div class="modal-footer">
            <div class="btn-box">
              <button type="button" class="btn btn-outline rounded-pill" data-bs-dismiss="modal" aria-label="Close">بستن</button>
              <button type="button" class="btn btn-solid line-none rounded-pill">ذخیره تغییرات <i class="arrow"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Edit Address Modal End -->

    <!-- Action Conformation Start -->
    <div class="modal fade action-conform" id="conformation" tabindex="-1" aria-labelledby="conformationLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="conformationLabel">آیا مطمئن هستید؟</h5>
            <span class="close-modal" data-bs-dismiss="modal"><i data-feather="x"></i></span>
          </div>
          <div class="modal-body">
            <p class="font-md">در صورت حذف، امکان بازگردانی  وجود ندارد و در صورت نیاز باید دوباره آن را ایجاد کنید.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline btn-sm" data-bs-dismiss="modal">پشیمون شدم</button>
            <button type="button" class="btn btn-solid btn-sm line-none" data-bs-dismiss="modal">حذف کن<i class="arrow"></i></button>
          </div>
        </div>
      </div>
    </div>
    <!-- Action Conformation End -->

{%endblock%}