{%extends 'yolo/html/layout.html'%}
{%block 'title'%}سبد خرید {%endblock%}
{%load static%}
{%block 'mohtava'%}
<!-- Main Start -->
<main class="main">
  <!-- Breadcrumb Start -->
  <div class="breadcrumb-wrap">
    <div class="banner">
      <img class="bg-img bg-top" src="{%static '/yolo/'%}assets/images/inner-page/banner-p.jpg" alt="banner" />

      <div class="container-lg">
        <div class="breadcrumb-box">
          <div class="heading-box">
            <h1>سبد خرید</h1>
          </div>
          <ol class="breadcrumb">
            <li><a href="/">صفحه اصلی</a></li>
            <li>
              <a href="javascript:void(0)"><i data-feather="chevron-right"></i></a>
            </li>
            <li><a href="/shop">خرید</a></li>
            <li>
              <a href="javascript:void(0)"><i data-feather="chevron-right"></i></a>
            </li>
            <li class="current"><a href="#">سبد خرید</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumb End -->

  <!-- Cart Section Start -->
  <section class="section-b-space card-page">
    <div class="container-lg">
      <div class="row g-3 g-md-4 cart">
        <div class="col-md-7 col-lg-8">
          <div class="cart-wrap">
            <div class="items-list">
              <table class="table cart-table m-md-0">
                <thead>
                  <tr>
                    <th class="d-none d-sm-table-cell">محصول</th>
                    <th class="d-none d-sm-table-cell">قیمت</th>
                    <th class="d-none d-lg-table-cell">تعداد</th>
                    <th class="d-none d-xl-table-cell">حذف از سبد</th>
                  </tr>
                </thead>

                <tbody>
                  {%for itm in ord.items.all %}
                  <tr>
                    <td>
                      <div class="product-detail">
                        <img class="pr-img" src="{{itm.product.img.url}}" alt="image" />
                        <div class="details">
                          <h4 class="title-color font-default2"  >  <a href="/product/{{itm.product.id}}">{{itm.product.title}}</a> </h4>
                          <span class="sold-by">دسته بندی: <span>{{itm.product.category}}</span> </span>
                                         
                        </div>
                      </div>
                    </td>

                    <td class="price d-none d-sm-table-cell">{{itm.product.curprice}}تومان   &nbsp; <del style="color: rgb(24, 90, 211);">{{itm.product.preprice}} تومان</del></td>
                    <td class="d-none d-lg-table-cell">
                      <div class="plus-minus">
                        <a href="/minuscart/{{itm.id}}"> - </a>
                        <h3> &nbsp;</h3>
                         <h4 style="color: rgb(24, 90, 211);">{{itm.qnt}}</h4>
                         <h3> &nbsp;</h3>
                        <a  href="/pluscart/{{itm.id}}"> + </a>
                      </div>
                    </td>
                    <td class="total d-none d-xl-table-cell"><a href="/deletecart/{{itm.id}}" style="color: rgb(218, 3, 31);">حذف</a></td>
                  </tr>
                  {%endfor%}

                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-md-5 col-lg-4">
          <div class="summery-wrap">
            <div class="coupon-box">
              <h5 class="cart-title">کد تخفیف</h5>
              <div class="text-wrap">
                <input required type="email" class="form-control" placeholder="کد را وارد کنید" />
                <a href="javascript:void(0)" class="btn btn-outline btn-sm">اعمال</a>
              </div>

              <p class="content-color font-md mb-0">در صورتی که در خریدهای پیشین کد تخفیف دریافت کرده اید، آن را در کادر بالا وارد کنید.</p>
            </div>
            <div class="cart-wrap grand-total-wrap">
              <div>
                <div class="order-summery-box">
                  <h5 class="cart-title">جزئیات قیمت ({{num}} مورد)</h5>
                  <ul class="order-summery">
                    <li>
                      <span>مبلغ کل</span>
                      <span>{{to}} تومان</span>
                    </li>

                    <li>
                      <span>سود شما از این خرید</span>
                      <span class="theme-color">-{{ben}} تومان</span>
                    </li>

                    <li>
                      <span>کد تخفیف</span>
                      <a href="javascript:void(0)" class="font-danger">اعمال نشده</a>
                    </li>

                    <li>
                      <span>هزینه ارسال</span>
                      <span>20000 تومان</span>
                    </li>

                    <li class="pb-0">
                      <span>قابل پرداخت</span>
                      <span>{{sm}} تومان</span>
                    </li>
                  </ul>
                  <div class="row g-3 mt-2">
                    <div class="col-6 col-md-12">
                      <a href="/address" class="btn-solid checkout-btn">تسویه حساب <i class="arrow"></i></a>
                    </div>
                    <div class="col-6 col-md-12">
                      <a href="/shop" class="btn-outline w-100 justify-content-center checkout-btn"> بازگشت به فروشگاه </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Cart Section End -->
</main>
<!-- Main End -->
{%endblock%}