{%extends 'yolo/html/layout.html'%}
{%load static%}
{%block 'title'%}سوالات متداول{%endblock%}
{%block 'mohtava'%}
   <!-- Main Start -->
   <main class="main">
    <!-- Breadcrumb Start -->
  <div class="breadcrumb-wrap">
    <div class="banner">
      <img class="bg-img bg-top" src="{%static '/yolo/'%}assets/images/inner-page/banner-p.jpg" alt="banner" />
      <div class="container-lg">
        <div class="breadcrumb-box">
          <div class="heading-box">
            <h1>پرسش های متدوال</h1>
          </div>
          <ol class="breadcrumb">
            <li><a href="/">خانه</a></li>
            <li>
              <a href="javascript:void(0)"><i data-feather="chevron-right"></i></a>
            </li>
            <li class="current"><a href="#">پرسش‌های متدوال</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumb End -->

    <!-- Q & A Section Start -->
    <section class="faq-section">
      <div class="container-lg">
        <ul class="nav nav-tabs nav-tabs4" id="myTab" role="tablist">
          
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab" aria-controls=" tab2" aria-selected="false">
              <i data-feather="credit-card"></i>
              <span>مشکلات پرداخت </span>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3" type="button" role="tab" aria-controls=" tab3" aria-selected="false">
              <i data-feather="shopping-bag"></i>
              <span>تحویل سفارشات</span>
            </button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab4-tab" data-bs-toggle="tab" data-bs-target="#tab4" type="button" role="tab" aria-controls=" tab4" aria-selected="false">
              <i data-feather="flag"></i>
               <span> پرسش های عمومی </span>
            </button>
          </li>          
        </ul>
        <div class="tab-content" id="myTabContent">
          <!-- شروع محتوای برگه -->
          
          

          <!-- Tab Content Start -->
          <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
            <div class="tab-2">
              <div class="title-box4">
                <h4 class="heading">پرداخت<span class="bg-theme-blue"></span></h4>
                <p>در صورتی که در فرآیند پرداخت و تسویه حساب سفارش خود دچار مشکل شده اید، موارد زیر را مطالعه بفرمایید.</p>
              </div>

              <div class="accordion-style2" id="accordionExample2">
                {%for itm in q1%}
                <div class="accordion-item">
                  <h2 class="accordion-header" id="accordion16">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion16-collapse" aria-expanded="true" aria-controls="accordion16">
                      {{itm.question}}
                    </button>
                  </h2>
                  <div id="accordion16-collapse" class="accordion-collapse collapse show" aria-labelledby="accordion16-collapse" data-bs-parent="#accordionExample4">
                    <div class="accordion-body">
                      {{itm.answer}}
                    </div>
                  </div>
                </div>
                {%endfor%}
              </div>
            </div>
          </div>
          <!-- Tab Content End -->

          <!-- Tab Content Start -->
          <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
            <div class="tab-3">
              <div class="title-box4">
                <h4 class="heading">تحویل سفارشات<span class="bg-theme-blue"></span></h4>
                <p> در صورتی که در مورد تحویل سفارش خود دچار مشکل شده اید، موارد زیر را مطالعه کنید.</p>
              </div>

              <div class="accordion-style2" id="accordionExample3">
                {%for itm in q2%}
                <div class="accordion-item">
                  <h2 class="accordion-header" id="accordion16">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion16-collapse" aria-expanded="true" aria-controls="accordion16">
                      {{itm.question}}
                    </button>
                  </h2>
                  <div id="accordion16-collapse" class="accordion-collapse collapse show" aria-labelledby="accordion16-collapse" data-bs-parent="#accordionExample4">
                    <div class="accordion-body">
                      {{itm.answer}}
                    </div>
                  </div>
                </div>
                            
                {%endfor%}                         
              </div>
            </div>
          </div>
          <!-- Tab Content End -->

          <!-- Tab Content Start -->
          <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
            <div class="tab-4">
              <div class="title-box4">
                <h4 class="heading">عمومی  <span class="bg-theme-blue"></span></h4>
                <p>شاید سوالت اینجا باشه!</p>
              </div>

              <div class="accordion accordian-style2" id="accordionExample4">
                {%for itm in q3%}
                <div class="accordion-item">
                  <h2 class="accordion-header" id="accordion16">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accordion16-collapse" aria-expanded="true" aria-controls="accordion16">
                      {{itm.question}}
                    </button>
                  </h2>
                  <div id="accordion16-collapse" class="accordion-collapse collapse show" aria-labelledby="accordion16-collapse" data-bs-parent="#accordionExample4">
                    <div class="accordion-body">
                      {{itm.answer}}
                    </div>
                  </div>
                </div>
                {%endfor%}

              </div>
            </div>
          </div>
          <!-- Tab Content End -->

          <!-- Reply From Section Start -->
          <div class="replay-form round-wrap-content" id="replaySection">
            <div class="title-box4">
              <h4 class="heading">هنوز سوالی دارید؟<span class="bg-theme-blue"></span></h4>
              <p class="mb-0">در صورتی که پس از مطالعه محتوای هر یک از بخش های بالا، هنوز سوالی دارید، می توانید آنها را در اینجا بپرسید. ما سعی می کنیم در اسرع وقت پاسخگو باشیم.</p>
            </div>

            <form method="post" class="custom-form form-pill">
              {%csrf_token%}
              <div class="row g-4">
                <div class="col-sm-6">
                  <div class="input-box">
                    <label for="fName">نام</label>
                    <input name="fName" id="fName" type="text" class="form-control" />
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="input-box">
                    <label for="lName">نام خانوادگی</label>
                    <input name="lName" id="lName" type="text" class="form-control" />
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="input-box">
                    <label for="email">آدرس ایمیل</label>
                    <input name="email" id="email" type="email" class="form-control" />
                  </div>
                </div>

                <div class="col-sm-6">
                  <div class="input-box">
                    <label for="phone">شماره تلفن</label>
                    <input minlength="11" maxlength="11" name="call" id="number" type="number" class="form-control" />
                  </div>
                </div>

                <p  class="content-color" style="direction: ltr;text-align: right">شماره تماس  برای ارتباط  و پاسخگویی سریعتر است. لطفا شماره تماس معتبر وارد کنید</p>

                <div class="col-12">
                  <div class="input-box">
                    <label for="comment">متن پرسش</label>
                    <textarea name="comment" class="form-control" id="comment" cols="30" rows="5"></textarea>
                  </div>
                </div>

                <div class="col-12 text-end">
                  <button class="post-button btn btn-solid btn-sm mb-line" type="submit"> ارسال  <i class="arrow"></i></button>
                </div>
              </div>
            </form>
          </div>
          <!-- Reply From Section End -->
        </div>
      </div>
    </section>
    <!-- Q & A Section End -->
  </main>
  <!-- Main End -->
{%endblock%}