<!DOCTYPE html>
<!-- Html start -->
<html lang="en">
  <!-- Head Start -->
  <head>
    {%load static%}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="yolo" />
    <meta name="keywords" content="yolo" />
    <meta name="author" content="yolo" />
    <link rel="stylesheet" type="text/css" href="{%static '/yolo/'%}assets/css/vendors/bootstrap.css" />
    <link rel="icon" href="{%static '/yolo/'%}assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="{%static '/yolo/'%}assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="manifest" href="./manifest.json" />
    <link rel="icon" href="{%static '/yolo/'%}assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{%static '/yolo/'%}assets/images/favicon/favicon.png" />
    <meta name="theme-color" content="#0f8fac" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content="yolo" />
    <meta name="msapplication-TileImage" content="{%static '/yolo/'%}assets/images/favicon/favicon.png" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>یولو |{%block 'title'%}{%endblock%}
    </title>

    <!-- Google Jost Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="{%static '/yolo/'%}fonts/fonts.googleapis.com/css2.css" rel="stylesheet" />

    <!-- Google Monsterrat Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="{%static '/yolo/'%}fonts/fonts.googleapis.com/css2-2.css" rel="stylesheet" />

    <!-- Google Leckerli Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="{%static '/yolo/'%}fonts/fonts.googleapis.com/css2-3.css" rel="stylesheet" />

    <!-- Bootstrap Css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="{%static '/yolo/'%}assets/css/vendors/bootstrap.css" />

    <!-- Swiper Slider Css -->
    <link rel="stylesheet" type="text/css" href="{%static '/yolo/'%}assets/css/vendors/swiper-bundle.min.css" />

    <!-- Style Css -->
    <link  rel="stylesheet" type="text/css" href="{%static '/yolo/'%}assets/css/style.css" />
  </head>
  <!-- Head End -->

  <!-- Body Start -->
  <body>
  <!-- Loader Start -->
  <div class="loader-wrapper">
    <div class="loader animate">
      <span>یولو</span>
    </div>
  </div>
  <!-- Loader End -->


  
  <!-- Overlay -->
  <a href="javascript:void(0)" class="overlay-general overlay-common"></a>
 <!-- Header Start -->
 <header class="header-common">
  <!-- Top Header -->
  <div class="top-header">
    {%for itm in s%}
    <p class="marquee"><span>{{itm.specialnews}}</span></p>
    {%endfor%}
  </div>
  <div class="container-lg">
    <div class="nav-wrap">
      <!-- Navigation Start -->
      <nav class="navigation">
        <div class="nav-section">
          <div class="header-section">
            <div class="navbar navbar-expand-xl navbar-light navbar-sticky p-0">
              <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#primaryMenu" aria-controls="primaryMenu">
                <span class="navbar-toggler-icon"></span>
              </button>
              <a href="/" class="logo-link">
                {%for itm in i%}
                <img class="logo logo-dark" src={{itm.img.url}} alt="logo" />
                <img class="logo logo-light" src={{itm.img.url}} alt="logo" />
                {%endfor%}  
              </a>
              <div class="offcanvas offcanvas-collapse order-lg-2" id="primaryMenu">
                <div class="offcanvas-header navbar-shadow">
                  <h5 class="mt-1 mb-0">فهرست</h5>
                  <button class="btn-close lead" type="button" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body">
                  <!-- Menu-->
                  <ul class="navbar-nav">
                    <!-- Home -->
                    <li class="nav-item dropdown dropdown-mega">
                      <a class="nav-link dropdown-toggle" href="/">صفحه اصلی</a>
                    </li>  

                    <!-- Shop -->
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">تنوع محصولات</a>
                      <div class="dropdown-menu">
                        <div class="dropdown-column">
                          {%for itm in c%}
                          <a class="dropdown-item" href="/category/{{itm.id}}">{{itm.name}}</a>
                          {%endfor%}
                        </div>
                      </div>
                    </li>

                    <!-- onsale -->
                    <li class="nav-item dropdown dropdown-mega">
                      <a class="nav-link dropdown-toggle" href="/onsale">تخفیفات ویژه</a>
                    </li> 



                    <!--news-->
                    <li class="nav-item dropdown dropdown-mega">
                      <a class="nav-link dropdown-toggle" href="/blog">وبلاگ</a>
                    </li> 

                    
                    <!--about-->
                    <li class="nav-item dropdown dropdown-mega">
                      <a class="nav-link dropdown-toggle" href="/about">درباره ما</a>
                    </li> 

                    <!--contact-->
                    <li class="nav-item dropdown dropdown-mega">
                      <a class="nav-link dropdown-toggle" href="/contact">ارتباط با ما</a>
                    </li> 

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <!-- Navigation End -->

      <!-- Menu Right Start  -->
      <div class="menu-right">
        <div class="select-menu">
          
          <div class="dropdown select-dropdown" id="translate">
            <button id="languageSelected"><span>زبان</span> <i data-feather="chevron-down"></i></button>
            <ul class="onhover-show-div">
              <li class="lang">فارسی</li>
              <li class="lang">انگلیسی</li>
              <li class="lang">عربی</li>                
            </ul>
          </div>
        </div>


        <!-- Icon Menu Start -->
        <ul class="icon-menu">
          <li>
            <a href="/search"><button class="search-button"></button><i data-feather="search"></i></button></a>
            
          </li>

          <li class="user">
            <div class="dropdown user-dropdown">
              <a href="javascript:void(0)"><i data-feather="user"></i></a>
              <ul class="onhover-show-div">
                {%if user.is_authenticated%}
                <li><a href="/user">حساب کاربری</a></li>
                <li><a href="/logout"> خروج </a></li>
                
                {%else%}
                <li><a href="/login">ورود به سیستم</a></li>
                <li><a href="/register">ثبت نام</a></li>
                {%endif%}
              </ul>
            </div>
          </li>

          <li>
            <div class="dropdown whislist-dropdown">
              <a href="javascript:void(0)"><i data-feather="heart"></i> <span class="notification-label">0</span></a>
              <div class="onhover-show-div">
                <a href="/wishlist"> <img src="{%static '/yolo/'%}assets/icons/svg/box.svg" class="img-fluid" alt="box" /> </a>
                <div class="content">
                  <a href="/wishlist">
                    <h6>فهرست علاقه مندی شما خالی است!!</h6>
                    <p>بیشتر کاوش کنید و موارد را فهرست کنید.</p>
                  </a>
                </div>
              </div>
            </div>
          </li>

          <!-- Cart Menu Start -->
          <li>
            <div class="dropdown shopingbag">
              <a href="javascript:void(0)" class="cart-button"><i data-feather="shopping-bag"></i> <span class="notification-label">3</span></a>
              <a href="javascript:void(0)" class="overlay-cart overlay-common"></a>
              <div class="onhover-cart-dropdown">
                <div class="onhover-show-div">
                  <div class="dropdown-header">
                    <div class="control">
                      <a href="/cart">سبد خرید</a>
                      <button class="back-cart"><i data-feather="arrow-right"></i></button>
                    </div>
                  </div>

                  <div class="card-wrap custom-scroll">
                    <!-- Cart Item Start -->
                    <div class="cart-card media">
                      <a href="product.html"> <img src="{%static '/yolo/'%}assets/images/fashion/product/front/8.jpg" class="img-fluid" alt="product" /> </a>
                      <div class="media-body">
                        <a href="product.html"> <h6>عروسک مستربین</h6></a>
                        <span>120000 تومان</span>
                        <div class="plus-minus">
                          <i class="sub" data-feather="minus"></i>
                          <input type="number" value="1" min="1" max="10" />
                          <i class="add" data-feather="plus"></i>
                        </div>
                      </div>
                      <button class="remove-cart"><i data-feather="x"></i></button>
                    </div>
                    <!-- Cart Item End -->

                    <!-- Cart Item Start -->
                    <div class="cart-card media">
                      <a href="product.html"> <img src="{%static '/yolo/'%}assets/images/fashion/product/front/9.jpg" class="img-fluid" alt="product" /> </a>
                      <div class="media-body">
                        <a href="product.html"> <h6>ماگ سالیوان</h6></a>
                        <span>116000 تومان   </span>
                        <div class="plus-minus">
                          <i class="sub" data-feather="minus"></i>
                          <input type="number" value="1" min="1" max="10" />
                          <i class="add" data-feather="plus"></i>
                        </div>
                      </div>
                      <button class="remove-cart"><i data-feather="x"></i></button>
                    </div>
                    <!-- Cart Item End -->

                    <!-- Cart Item Start -->
                    <div class="cart-card media">
                      <a href="product.html"> <img src="{%static '/yolo/'%}assets/images/fashion/product/front/10.jpg" class="img-fluid" alt="product" /> </a>
                      <div class="media-body">
                        <a href="product.html"> <h6>کوسن نقشه جهان</h6></a>
                        <span>90000 تومان</span>
                        <div class="plus-minus">
                          <i class="sub" data-feather="minus"></i>
                          <input type="number" value="2" min="1" max="10" />
                          <i class="add" data-feather="plus"></i>
                        </div>
                      </div>
                      <button class="remove-cart"><i data-feather="x"></i></button>
                    </div>
                    <!-- Cart Item End -->
                  </div>
                  <div class="dropdown-footer">                
                    <div class="btn-group block-group">
                      <a href="/cart" class="btn-solid">مشاهده سبد خرید</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <!-- Cart Menu End -->
        </ul>
        <!-- Icon Menu End -->
      </div>
      <!-- Menu Right End  -->
    </div>
  </div>
</header>
<!-- Header End -->


  <!-- Main Start -->
 
    {%block 'mohtava'%}
    {%endblock%}
 
  <!-- Main End -->




  <!-- Document Footer Start -->
    <footer class="footer-document ratio_asos mb-xxl">
      <div class="bg-footer-l">
        <img src="{%static '/yolo/'%}assets/images/fashion/banner/bg-footer-l.png" alt="banner" />
      </div>
      <div class="bg-footer-r">
        <img src="{%static '/yolo/'%}assets/images/fashion/banner/bg-footer-r.png" alt="banner" />
      </div>
      <div>
        <div class="container-lg">
          <div class="main-footer">
            <div class="row gy-3 gy-md-4 gy-xl-0">
              <div class="col-xl-5 col-lg-5 col-md-7">
                <div class="content-box">
                  <img class="logo" src="{%static '/yolo/'%}assets/images/logos/logo-w.png" alt="logo-white" />
                  <ul>
                    {%for itm in i%}
                    <li><i data-feather="map-pin"></i> <span>{{itm.address}}</span></li>
                    {%endfor%}
  
                    {%for itm in i%}
                    <li>
                      <i data-feather="phone"></i><a class="nav" href="tel:185659635"><span dir="ltr">  {{itm.call}}</span></a>
                    </li>
                    {%endfor%}
  
                    {%for itm in i%}
                    <li>
                      <i data-feather="mail"></i><a class="nav" href="mailto:{{itm.email}}"><span> {{itm.email}}</span></a>
                    </li>
                    {%endfor%}
  
                  </ul>
                </div>
              </div>
  
  
  
              <div class="nav-footer col-xl-2 col-lg-3 col-md-5 order-md-4 order-lg-2">
                <div class="nav d-md-block content-box">
                  <h5 class="heading-footer">دسترسی سریع</h5>
                  <ul>
                    <li><a class="nav" href="/">صفحه اصلی </a></li>
                    <li><a class="nav" href="/onsale">تخفیفات ویژه</a> </a></li>
                    <li><a class="nav" href="/blog">وبلاگ</a></li>
                    <li><a class="nav" href="/about">درباره ما </a></li>
                    <li><a class="nav" href="/contact">ارتباط با ما </a></li>
                  </ul>
                </div>
              </div>
  
              <div class="nav-footer col-xl-2 col-lg-3 col-md-5 order-md-5 order-lg-3">
                <div class="nav d-md-block content-box">
                  <h5 class="heading-footer">راهنما دریافت کنید</h5>
                  <ul>
                    <li><a class="nav" href="/user">حساب کاربری شما </a></li>
                    <li><a class="nav" href="/user">سفارش های پیشین </a></li>
                    <li><a class="nav" href="/cart">مشاهده سبد خرید </a></li>
                    <li><a class="nav" href="/wishlist">فهرست علاقه مندی ها</a></li>
                     <li><a class="nav" href="/faqs">پرسش‌های متدوال</a></li>
                  </ul>
                </div>
              </div>
  
              
  
              <div class="col-xl-3 col-md-7 col-lg-6 order-md-2 order-lg-5">
                <div class="content-box">
                  <h5 class="heading-footer">ما را دنبال کنید</h5>
                  <div class="follow-wrap">
                    <ul>
                      <li>
                        <a href="https://www.facebook.com/"> <img src="{%static '/yolo/'%}assets/icons/svg/social/fb.svg" alt="fb" /> </a>
                      </li>
                      <li>
                        <a href="https://www.instagram.com/accounts/login/?source=auth_switcher"> <img src="{%static '/yolo/'%}assets/icons/svg/social/inta.svg" alt="fb" /> </a>
                      </li>
                      <li>
                        <a href="https://twitter.com/i/flow/login"> <img src="{%static '/yolo/'%}assets/icons/svg/social/tw.svg" alt="fb" /> </a>
                      </li>
                      <li>
                        <a href="https://in.pinterest.com/"> <img src="{%static '/yolo/'%}assets/icons/svg/social/pint.svg" alt="fb" /> </a>
                      </li>
                    </ul>
                  </div>
  
                  <div class="subscribe-box">
                    <h5>ثبت نام در خبرنامه</h5>
                    <p>با عضویت در خبرنامه، می توانید آخرین بروزرسانی محصولات و تخفیفات استثنائی ما را پیش از دیگران دریافت کنید.</p>
                  </div>
  
                  <form method="post" class="footer-form">
                    {%csrf_token%}
                    <input required type="email" class="form-control" name="eml-nl" placeholder="آدرس ایمیل شما" />
                    <button type="submit" class="btn-solid">ارسال <i class="arrow"></i></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
  
          <div class="sub-footer">
            <div class="row gy-3">
              
              <div class="col-md-8">
                <p class="mb-0">©کلیه حقوق مادی و معنوی این سایت برای فروشگاه یولو محفوظ است.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Document Footer End -->

    <!-- Mobile Menu Footer Start -->
    <footer class="mobile-menu-footer d-sm-none">
      <ul>
        <li>
          <a href="/">
            <i data-feather="home"></i>
            <span>صفحه اصلی</span>
          </a>
        </li>
        <li>
          <a href="/search" class="search-link">
            <i data-feather="search"></i>
            <span>جستجو</span>
          </a>
        </li>
        <li>
          <a href="/cart">
            <i data-feather="shopping-bag"></i>
            <span>سبد خرید</span>
          </a>
        </li>
        <li>
          <a href="/wishlist">
            <i data-feather="heart"></i>
            <span>علاقمندی ها</span>
          </a>
        </li>
        <li>
          <a href="/user">
            <i data-feather="user"></i>
            <span>حساب کاربری</span>
          </a>
        </li>
      </ul>
    </footer>
    <!-- Mobile Menu Footer End -->


    
    <!-- Notification Start -->
    <div class="notification-wrap addToCart">
      <div class="notification">
        <img src="{%static '/yolo/'%}assets/images/fashion/product/front/1.jpg" alt="product" />
        <div>
          <h5>به سبد خرید اضافه شد</h5>
        </div>
      </div>
    </div>
    <!-- Notification End -->

     <!-- Notification Start -->
    <div class="notification-wrap addToWishlist">
      <div class="notification">
        <img src="{%static '/yolo/'%}assets/images/fashion/product/front/1.jpg" alt="product" />
        <div>
          <h5>به لیست علاقه مندی ها اضافه شد</h5>
        </div>
      </div>
    </div>
    <!-- Notification End -->



    {%block 'other'%}
    {%endblock%}


    <!-- Tap To Top Button Start -->
    <div class="tap-to-top-box hide">
      <button class="tap-to-top-button"><i data-feather="chevrons-up"></i></button>
    </div>
    <!-- Tap To Top Button End -->

    <!-- Bootstrap Js -->
    <script src="{%static '/yolo/'%}assets/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- Feather Icon -->
    <script src="{%static '/yolo/'%}assets/js/feather/feather.min.js"></script>

    <!-- Header Sticky js  -->
    <script src="{%static '/yolo/'%}assets/js/sticky-header.js"></script>

    <!-- Script Js -->
    <script src="{%static '/yolo/'%}assets/js/script.js"></script>

    <!-- Theme Settings Js -->
    <script src="{%static '/yolo/'%}assets/js/theme-setting.js"></script>
  </body>
  <!-- Body End -->
</html>
<!-- Html End -->
