<!DOCTYPE html>
<!-- Html start -->
<html lang="en">
  <!-- Head Start -->
  <head>
    {%load static%}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="yolo" />
    <meta name="keywords" content="yolo" />
    <meta name="author" content="yolo" />
    <link rel="stylesheet" type="text/css" href="{%static '/yolo/'%}assets/css/vendors/bootstrap.css" />
    <link rel="icon" href="{%static '/yolo/'%}assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="{%static '/yolo/'%}assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="manifest" href="./manifest.json" />
    <link rel="icon" href="{%static '/yolo/'%}assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{%static '/yolo/'%}assets/images/favicon/favicon.png" />
    <meta name="theme-color" content="#0f8fac" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content="yolo" />
    <meta name="msapplication-TileImage" content="{%static '/yolo/'%}assets/images/favicon/favicon.png" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>یولو | ورود</title>

    <!-- Google Jost Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="{%static '/yolo/'%}fonts/fonts.googleapis.com/css2.css" rel="stylesheet" />

    <!-- فونت Google Monsterrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="{%static '/yolo/'%}fonts/fonts.googleapis.com/css2-2.css" rel="stylesheet" />

    <!-- Google Leckerli Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="{%static '/yolo/'%}fonts/fonts.googleapis.com/css2-3.css" rel="stylesheet" />

    <!-- Bootstrap Css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="{%static '/yolo/'%}assets/css/vendors/bootstrap.css" />

    <!-- Style Css -->
    <link  rel="stylesheet" type="text/css" href="{%static '/yolo/'%}assets/css/style.css" />
  </head>
  <!-- Head End -->

  <!-- Body Start -->
  <body>
    <!-- Loader Start -->
    <div class="loader-wrapper">
      <div class="loader animate">
        <span>یولو</span>
      </div>
    </div>
    <!-- Loader End -->

    <!-- Main Start -->
    <div class="main">
      <section class="page-body p-0">
        <div class="row g-0 ratio_asos">
          <div class="order-2 order-lg-1 col-lg-5">
            <div class="content-box">
              <div>
                <h5>ورود به سیستم <span class="bg-theme-blue"></span></h5>
                <p class="font-md content-color">برای دسترسی به فهرست علاقه مندی ها، سبد خرید و سایر امکانات سایت لطفا وارد شوید.</p>
                <p style="color: rgb(214, 0, 46);">{{msg}}</p>
                <form method="post" class="custom-form form-pill">
                  {% csrf_token %}
                  <div class="input-box">
                    <label for="email">پست الکترونیک</label>
                    <input class="form-control" type="email" required name="email" id="email" />
                  </div>

                  <div class="input-box">
                    <label for="password">گذر واژه</label>
                    <div class="icon-input">
                      <input class="form-control" type="password" required name="password" id="password" />
                      <img class="showHidePassword" src="{%static '/yolo/'%}assets/icons/svg/eye-1.svg" alt="eye" />
                    </div>
                  </div>

                  <a class="forgot-link" href="/forgot">گذرواژه را فراموش کرده اید؟</a>

                  <button type="submit" class="btn-solid rounded-pill line-none">ورود <i class="arrow"></i></button>
                  <a href="/" class="btn-solid rounded-pill line-none btn-outline mt-3 d-flex justify-content-center">صفحه اصلی <i class="arrow"></i></a>
                </form>

                <span class="backto-link font-default content-color text-decoration-none">اگر به تازگی به جمع ما پیوسته اید، <a class="text-decoration-underline theme-color" href="/register"> اکنون ثبت نام کنید </a> </span>
                <span class="line"><span>یا </span> </span>
                <div class="link-group">
                  <a href="https://www.google.com/" class="button-link"><img src="{%static '/yolo/'%}assets/icons/png/google.png" alt="google" /> ورود</a>
                  <a href="https://www.facebook.com/" class="button-link"><img src="{%static '/yolo/'%}assets/icons/png/fb.png" alt="facebook" /> ورود</a>
                </div>
              </div>
            </div>
          </div>

          <div class="order-1 order-lg-2 col-lg-7">
            <div class="img-box">
              <img class="bg-img" src="{%static '/yolo/'%}assets/images/inner-page/banner10.jpg" alt="banner" />
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- Main End -->

    <!-- Bootstrap Js -->
    <script src="{%static '/yolo/'%}assets/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- Feather Icon -->
    <script src="{%static '/yolo/'%}assets/js/feather/feather.min.js"></script>

    <!-- Password Show-Hide js -->
    <script src="{%static '/yolo/'%}assets/js/password-showhide.js"></script>

    <!-- Script js -->
    <script src="{%static '/yolo/'%}assets/js/script.js"></script>

    <!-- Theme Settings Js -->
    <script src="{%static '/yolo/'%}assets/js/theme-setting.js"></script>
  </body>
  <!-- Body End -->
</html>
<!-- Html End -->
