{%extends 'yolo/html/layout.html'%}
{%load static%}
{%block 'title'%}سفارش موفق{%endblock%}
{%block 'mohtava'%}
<!-- Main Start -->
<main class="main">
  <!-- Top Section Start -->
  <section class="p-0">
    <div class="success-icon">
      <div class="img-wrap">
        <img class="success-img img-fluid" src="{%static '/yolo/'%}assets/svg/order-success.svg" alt="vector" />
        <img class="check" src="{%static '/yolo/'%}assets/svg/check.svg" alt="check" />
      </div>

      <div class="success-contain">
        <h1>سفارش با موفقیت</h1>
        <h5 class="font-light">پرداخت با موفقیت انجام شد و سفارش شما در راه است</h5>
        <h6 class="font-light">شناسه تراکنش:267676GHERT105467</h6>
      </div>
    </div>
  </section>
  <!-- Top Section End -->

  
</main>
<!-- Main End -->
{%endblock%}