{%extends 'yolo/html/layout.html'%}
{%load static%}
{%block 'title'%}سفارش موفق{%endblock%}
{%block 'mohtava'%}
<!-- Main Start -->
<main class="main">
  <!-- Top Section Start -->
  <section class="p-0">
    <div class="success-icon">
      <div class="img-wrap">
        <img class="success-img img-fluid" src="{%static '/yolo/'%}assets/svg/order-success.svg" alt="vector" />
        <img class="check" src="{%static '/yolo/'%}assets/svg/check.svg" alt="check" />
      </div>

      <div class="success-contain">
        <h1>سفارش با موفقیت</h1>
        <h5 class="font-light">پرداخت با موفقیت انجام شد و سفارش شما در راه است</h5>
        <h6 class="font-light">شناسه تراکنش:267676GHERT105467</h6>
      </div>
    </div>
  </section>
  <!-- Top Section End -->

  <!-- Compare Section Start -->
  <section class="section-b-space order-success">
    <div class="container-lg">
      <div class="row g-3 g-md-4 cart">
        <div class="col-md-7 col-lg-7 col-xl-8">
          <div class="cart-wrap">
            <div class="items-list">
              <table class="table cart-table">
                <thead>
                  <tr>
                    <th class="d-none d-sm-table-cell">محصول</th>
                    <th class="d-none d-sm-table-cell">قیمت</th>
                    <th class="d-none d-lg-table-cell">تعداد</th>
                    <th class="d-none d-xl-table-cell">جمع</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>
                      <div class="product-detail">
                        <img class="pr-img" src="{%static '/yolo/'%}assets/images/fashion/product/front/8.jpg" alt="image" />
                        <div class="details">
                          <h4 class="title-color font-default2">عروسک مستربین</h4>
                          <span class="sold-by">دسته بندی: <span>هدیه</span> </span>
                          <span class="size d-flex gap-2">اندازه : <span>M</span> </span>
                          <span class="size d-inline-flex gap-2 d-lg-none">تعداد : <span>01</span> </span>
                          <span class="size d-flex gap-2 d-sm-none">قیمت: <span>120000 تومان</span> </span>
                        </div>
                      </div>
                    </td>

                    <td class="price d-none d-sm-table-cell">120000تومان</td>
                    <td class="price d-none d-lg-table-cell">01</td>
                    <td class="total d-none d-xl-table-cell">120000تومان</td>
                  </tr>

                  <tr>
                    <td>
                      <div class="product-detail">
                        <img class="pr-img" src="{%static '/yolo/'%}assets/images/fashion/product/front/9.jpg" alt="image" />
                        <div class="details">
                          <h4 class="title-color font-default2">ماگ سالیوان</h4>
                          <span class="sold-by">دسته بندی: <span>هدیه</span> </span>
                          <span class="size d-flex gap-2">اندازه: <span>-</span> </span>
                          <span class="size d-inline-flex gap-2 d-lg-none">تعداد : <span>01</span> </span>
                          <span class="size d-flex gap-2 d-sm-none">قیمت: <span>116000 تومان</span> </span>
                        </div>
                      </div>
                    </td>

                    <td class="price d-none d-sm-table-cell">116000تومان</td>
                    <td class="d-none d-lg-table-cell price">01</td>
                    <td class="total d-none d-xl-table-cell">116000تومان</td>
                  </tr>

                  <tr>
                    <td>
                      <div class="product-detail">
                        <img class="pr-img" src="{%static '/yolo/'%}assets/images/fashion/product/front/10.jpg" alt="image" />
                        <div class="details">
                          <h4 class="title-color font-default2">کوسن نقشه جهان</h4>
                          <span class="sold-by">دسته بندی: <span>دکوری</span> </span>
                          <span class="size d-flex gap-2">اندازه: <span>Sm</span> </span>
                          <span class="size d-inline-flex gap-2 d-lg-none">تعداد : <span>01</span> </span>
                          <span class="size d-flex gap-2 d-sm-none">قیمت: <span>99000 تومان</span> </span>
                        </div>
                      </div>
                    </td>

                    <td class="price d-none d-sm-table-cell">99000تومان</td>
                    <td class="d-none d-lg-table-cell price">01</td>
                    <td class="total d-none d-xl-table-cell">99000تومان</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="col-md-5 col-lg-5 col-xl-4">
          <div class="summery-box">
            <div class="row g-3 g-lg-4">
              <div class="col-12">
                <div class="summery-wrap">
                  <div class="cart-wrap grand-total-wrap">
                    <div>
                      <div class="order-summery-box">
                        <h5 class="cart-title">جزئیات قیمت (3 مورد)</h5>
                        <ul class="order-summery">
                          <li>
                            <span>مبلغ کل</span>
                            <span>220000 تومان</span>
                          </li>

                          <li>
                            <span>سود شما از این خرید</span>
                            <span class="theme-color">-20000تومان</span>
                          </li>

                          <li>
                            <span>کد تخفیف</span>
                            <span class="font-danger">اعمال نشده</span>
                          </li>

                          <li>
                            <span>هزینه ارسال</span>
                            <span>15000 تومان</span>
                          </li>

                          <li class="pb-0">
                            <span>پرداخت شده</span>
                            <span>215000 تومان</span>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="summery2">
                  <div class="row g-4">
                    <div class="col-12">
                      <div class="order-summery-box">
                        <h5 class="cart-title">آدرس حمل و نقل</h5>
                      </div>
                      <ul>
                        <li> فرزانه قندهاری</li>
                        <li>علویجه، بلوار انقلاب، کوی کوثر5، پلاک 3 </li>
                        <li>ایران، اصفهان</li>
                        <li>شماره تماس 09136971401</li>
                      </ul>
                    </div>

                    <div class="col-12">
                      <div class="delivery-box">
                        <p class="d-flex flex-column g-0 title-color font-md mb-0">
                          تاریخ مورد انتظار تحویل:
                          <strong> 3 تا 10 روز کاری</strong>
                        </p>
                        <a href="/user" class="font-danger font-md fw-500">پیگیری سفارش</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Compare Section End -->
</main>
<!-- Main End -->
{%endblock%}