<!DOCTYPE html>
<!-- Html start -->
<html lang="en">
  <!-- Head Start -->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="oslo" />
    <meta name="keywords" content="oslo" />
    <meta name="author" content="oslo" />
    <link rel="icon" href="../assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="../assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="manifest" href="./manifest.json" />
    <link rel="icon" href="../assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../assets/images/favicon/favicon.png" />
    <meta name="theme-color" content="#0f8fac" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content="Oslo" />
    <meta name="msapplication-TileImage" content="../assets/images/favicon/favicon.png" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>یولو| Otp</title>

    <!-- Google Jost Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="../fonts/fonts.googleapis.com/css2.css" rel="stylesheet" />

    <!-- فونت Google Monsterrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="../fonts/fonts.googleapis.com/css2-2.css" rel="stylesheet" />

    <!-- Google Leckerli Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="../fonts/fonts.googleapis.com/css2-3.css" rel="stylesheet" />

    <!-- Bootstrap Css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="../assets/css/vendors/bootstrap.css" />

    <!-- Style Css -->
    <link id="change-link" rel="stylesheet" type="text/css" href="../assets/css/style.css" />
  </head>
  <!-- Head End -->

  <!-- Body Start -->
  <body>
    <!-- Loader Start -->
    <div class="loader-wrapper">
      <div class="loader animate">
        <span>یولو</span>
      </div>
    </div>
    <!-- Loader End -->

    <!-- Main Start -->
    <div class="main">
      <!-- Otp Section Start -->
      <section class="page-body p-0">
        <div class="row g-0 ratio_asos">
          <div class="order-2 order-lg-1 col-lg-5">
            <div class="content-box">
              <div>
                <h5>کد تأیید <span class="bg-theme-blue"></span></h5>
                <p class="font-md content-color">ما کد تایید را به آدرس ایمیل شما ارسال کرده ایم</p>

                <span class="font-md edit">
                   jonwalter457@gmail.com <a href="forgot-password.html"> <i data-feather="edit-3"></i></a
                ></span>

                <form action="reset-password.html" class="custom-form form-pill">
                  <div class="input-box otp-input">
                    <input class="otp form-control" placeholder="0" type="text" required oninput="digitValidate(this)" onkeyup="tabChange(1)" maxlength="1" />
                    <input class="otp form-control" placeholder="0" type="text" required oninput="digitValidate(this)" onkeyup="tabChange(2)" maxlength="1" />
                    <input class="otp form-control" placeholder="0" type="text" required oninput="digitValidate(this)" onkeyup="tabChange(3)" maxlength="1" />
                    <input class="otp form-control" placeholder="0" type="text" required oninput="digitValidate(this)" onkeyup="tabChange(4)" maxlength="1" />
                  </div>

                  <button type="submit" class="btn-solid rounded-pill line-none"> کد تایید را ارسال کنید.  <i class="arrow"></i></button>
                  <a href="index.html" class="btn-solid rounded-pill line-none btn-outline mt-3 d-flex justify-content-center">صفحه اصلی <i class="arrow"></i></a>
                </form>

                <!-- Count Down Start -->
                <div class="otp-countdown text-center">
                  <div class="content-color d-flex gap-2">
                    <a href="javascript:void(0)" class="resend-otp">ارسال مجدد کد تایید </a> <span class="time d-flex gap-2"> در <span id="timer"></span></span>
                  </div>
                </div>
                <!-- Count Down End -->
              </div>
            </div>
          </div>

          <div class="order-1 order-lg-2 col-lg-7">
            <div class="img-box">
              <img class="bg-img" src="../assets/images/inner-page/banner.jpg" alt="banner" />
            </div>
          </div>
        </div>
      </section>
      <!-- Otp Section End -->
    </div>
    <!-- Main End -->

    <!-- Bootstrap Js -->
    <script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- Feather Icon -->
    <script src="../assets/js/feather/feather.min.js"></script>

    <!-- Password Show-Hide js -->
    <script src="../assets/js/password-showhide.js"></script>

    <!-- Otp  js -->
    <script src="../assets/js/otp.js"></script>

    <!-- Script js -->
    <script src="../assets/js/script.js"></script>

    <!-- Theme Settings Js -->
    <script src="../assets/js/theme-setting.js"></script>
  </body>
  <!-- Body End -->
</html>
<!-- Html End -->
