<!DOCTYPE html>
<!-- Html start -->
<html lang="en">
  <!-- Head Start -->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="oslo" />
    <meta name="keywords" content="oslo" />
    <meta name="author" content="oslo" />
    <link rel="icon" href="../assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="shortcut icon" href="../assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="manifest" href="./manifest.json" />
    <link rel="icon" href="../assets/images/favicon/favicon.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../assets/images/favicon/favicon.png" />
    <meta name="theme-color" content="#0f8fac" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content="Oslo" />
    <meta name="msapplication-TileImage" content="../assets/images/favicon/favicon.png" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>یولو | ثبت نام</title>

    <!-- Google Jost Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="../fonts/fonts.googleapis.com/css2.css" rel="stylesheet" />

    <!-- فونت Google Monsterrat -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="../fonts/fonts.googleapis.com/css2-2.css" rel="stylesheet" />

    <!-- Google Leckerli Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="../fonts/fonts.googleapis.com/css2-3.css" rel="stylesheet" />

    <!-- Bootstrap Css -->
    <link id="rtl-link" rel="stylesheet" type="text/css" href="../assets/css/vendors/bootstrap.css" />

    <!-- Style Css -->
    <link id="change-link" rel="stylesheet" type="text/css" href="../assets/css/style.css" />
  </head>
  <!-- Head End -->

  <!-- Body Start -->
  <body>
    <!-- Loader Start -->
    <div class="loader-wrapper">
      <div class="loader animate">
        <span>یولو</span>
      </div>
    </div>
    <!-- Loader End -->

    <!-- Main Start -->
    <div class="main">
      <section class="page-body p-0">
        <div class="row g-0 ratio_asos">
          <div class="order-2 order-lg-1 col-lg-5">
            <div class="content-box">
              <div>
                <h5>ایجاد حساب<span class="bg-theme-blue"></span></h5>
                <p class="font-md content-color">برای دسترسی به فهرست علاقه مندی ها، سبد خرید و سایر امکانات سایت لطفا ثبت نام کنید.</p>

                <form action="index.html" class="custom-form form-pill">
                  <div class="input-box">
                    <label for="full-name">نام کامل</label>
                    <input class="form-control" type="text" name="full-name" id="full-name" />
                  </div>
                  <div class="input-box">
                    <label for="email">ایمیل</label>
                    <input class="form-control" type="email" required name="email" id="email" />
                  </div>
                  <div class="input-box">
                    <label for="password">رمز عبور</label>
                    <div class="icon-input">
                      <input class="form-control" type="password" name="password" id="password" />
                      <img class="showHidePassword" src="../assets/icons/svg/eye-1.svg" alt="eye" />
                    </div>
                  </div>

                  <button type="submit" class="btn-solid rounded-pill line-none theme-color">ثبت نام <i class="arrow"></i></button>
                  <a href="index.html" class="btn-solid rounded-pill line-none btn-outline mt-3 d-flex justify-content-center">صفحه اصلی <i class="arrow"></i> </a>
                </form>

                <span class="backto-link font-default content-color text-decoration-none"
                > از قبل یک حساب دارید؟ <a class="text-decoration-underline theme-color" href="login.html">ورود به سیستم </a>
                 </span>

                <span class="line"><span>یا </span> </span>
                <a href="https://www.google.com/" class="button-link"><img src="../assets/icons/png/google.png" alt="google" /> ثبت نام کنید </a>
                <a href="https://www.facebook.com/" class="button-link"><img src="../assets/icons/png/fb.png" alt="facebook" /> ثبت نام کنید </a>
              </div>
            </div>
          </div>
          <div class="order-1 order-lg-2 col-lg-7">
            <div class="img-box">
              <img class="bg-img" src="../assets/images/inner-page/banner.jpg" alt="banner" />
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- Main End -->

    <!-- Bootstrap Js -->
    <script src="../assets/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- Feather Icon -->
    <script src="../assets/js/feather/feather.min.js"></script>

    <!-- Password Show-Hide js -->
    <script src="../assets/js/password-showhide.js"></script>

    <!-- Script js -->
    <script src="../assets/js/script.js"></script>

    <!-- Theme Settings Js -->
    <script src="../assets/js/theme-setting.js"></script>
  </body>
  <!-- Body End -->
</html>
<!-- Html End -->
