{%extends 'yolo/html/layout.html'%}
{%load static%}
{%block 'title'%}علاقه مندی ها{%endblock%}
{%block 'mohtava'%}
<!-- Main Start -->
<main class="main">
  <!-- Breadcrumb Start -->
  <div class="breadcrumb-wrap">
    <div class="banner">
      <img class="bg-img bg-top" src="{%static '/yolo/'%}assets/images/inner-page/banner-p.jpg" alt="banner" />

      <div class="container-lg">
        <div class="breadcrumb-box">
          <div class="heading-box">
            <h1>علاقمندی های من</h1>
          </div>
          <ol class="breadcrumb">
            <li><a href="/">صفحه اصلی</a></li>

            <li>
              <a href="javascript:void(0)"><i data-feather="chevron-right"></i></a>
            </li>

            <li class="current"><a href="#">علاقمندی ها</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumb End -->

  <!-- Wishlist Section Start -->
  <section class="section-b-space wishlist-page">
    <div class="container-lg">
      <div class="row g-3 g-3 g-xxl-4 ratio_asos row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6">
        
        
        {%for itm in ws%}
        <div class="col">
          <div class="product-card product-wishlist">
            <div class="img-box">
              <a href="/product/{{itm.product.id}} " class="primary-img"><img class="img-fluid bg-img" src="{{itm.product.img.url}}" alt="product" /> </a>
              
              <!-- Delete Button -->
               <a href="/deletewish/{{itm.product.id}}">
                <button   class="delete-button"><i data-feather="x"></i></button>
              </a>
              
            </div>
            <div class="content-wrap">
              <!-- Content Box -->
              <div class="content-box">
                <a href="/product/{{itm.product.id}}">
                  <p>{{itm.product.category}}</p>
                  <h5>{{itm.product.title}} </h5>
                  <span>{{itm.product.curprice}} تومان</span>
                </a>
              </div>
              <div class="mov-to-bag">
                <a href="/addcart/{{itm.product.id}}"  class="btn btn-outline btn-sm addtocart-btn">افزودن به سبد خرید <i class="arrow"></i> </a>
              </div>
            </div>
          </div>
        </div>
        {%endfor%}
      </div>
    </div>
  </section>
  <!-- Wishlist Section End -->
</main>
<!-- Main End -->

{%endblock%}
