{%extends 'yolo/html/layout.html'%}
{%load static%}
{%block 'title'%}علاقه مندی ها{%endblock%}
{%block 'mohtava'%}
<!-- Main Start -->
<main class="main">
  <!-- Breadcrumb Start -->
  <div class="breadcrumb-wrap">
    <div class="banner">
      <img class="bg-img bg-top" src="{%static '/yolo/'%}assets/images/inner-page/banner-p.jpg" alt="banner" />

      <div class="container-lg">
        <div class="breadcrumb-box">
          <div class="heading-box">
            <h1>علاقمندی های من</h1>
          </div>
          <ol class="breadcrumb">
            <li><a href="/">صفحه اصلی</a></li>

            <li>
              <a href="javascript:void(0)"><i data-feather="chevron-right"></i></a>
            </li>

            <li class="current"><a href="#">علاقمندی ها</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <!-- Breadcrumb End -->

  <!-- Wishlist Section Start -->
  <section class="section-b-space wishlist-page">
    <div class="container-lg">
      <div class="row g-3 g-3 g-xxl-4 ratio_asos row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6">
        
        
        
        <div class="col">
          <div class="product-card product-wishlist">
            <div class="img-box">
              <a href="/product/{{itm.id}} " class="primary-img"><img class="img-fluid bg-img" src="{%static '/yolo/'%}assets/images/fashion/product/front/8.jpg" alt="product" /> </a>
              <!-- Rating -->
              <div class="rating">
                <span>4.5 <i data-feather="star"></i> </span>
                <span>136</span>
              </div>
              <!-- Delete Button -->
              <button class="delete-button"><i data-feather="x"></i></button>
            </div>
            <div class="content-wrap">
              <!-- Content Box -->
              <div class="content-box">
                <a href="/product/{{itm.id}}">
                  <p>هدیه</p>
                  <h5>عروسک مستربین</h5>
                  <span>120000 تومان</span>
                </a>
              </div>
              <div class="mov-to-bag">
                <a href="javascript:void(0)" class="btn btn-outline btn-sm addtocart-btn">افزودن به سبد خرید <i class="arrow"></i> </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="product-card product-wishlist">
            <div class="img-box">
              <a href="/product/{{itm.id}} " class="primary-img"><img class="img-fluid bg-img" src="{%static '/yolo/'%}assets/images/fashion/product/front/9.jpg" alt="product" /> </a>
              <!-- Rating -->
              <div class="rating">
                <span>3.5 <i data-feather="star"></i> </span>
                <span>126</span>
              </div> 
              <!-- Delete Button -->
              <button class="delete-button"><i data-feather="x"></i></button>
            </div>
            <div class="content-wrap">
              <!-- Content Box -->
              <div class="content-box">
                <a href="/product/{{itm.id}}">
                  <p>هدیه</p>
                  <h5>ماگ سالیوان</h5>
                  <span>116000 تومان</span>
                </a>
              </div>
              <div class="mov-to-bag">
                <a href="javascript:void(0)" class="btn btn-outline btn-sm addtocart-btn">افزودن به سبد خرید <i class="arrow"></i> </a>
              </div>
            </div>
          </div>
        </div>

        
      </div>
    </div>
  </section>
  <!-- Wishlist Section End -->
</main>
<!-- Main End -->

{%endblock%}
